.ft-menu{position:fixed;overflow:hidden;}
.ft-menu-content{padding:10px 20px;background:#000000;color:#fff;border-radius:2px;box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);}

/*efeito ao exibir*/
.ft-menu{opacity:1;transition:opacity .4s;}

/*efeito ao ocultar*/
.ft-menu.ng-hide{opacity: 0;}

/*.left-top, right-top efeito*/
.ft-menu.left-top .ft-menu-content, .ft-menu.right-top .ft-menu-content{transition:all .4s;transform:translateY(0);}
.ft-menu.left-top.ng-hide .ft-menu-content, .ft-menu.right-top.ng-hide .ft-menu-content{transform:translateY(100%);}

/*.left-bottom, right-bottom efeito*/
.ft-menu.left-bottom .ft-menu-content, .ft-menu.right-bottom .ft-menu-content{transition:all .4s;transform:translateY(0);}
.ft-menu.left-bottom.ng-hide .ft-menu-content, .ft-menu.right-bottom.ng-hide .ft-menu-content{transform:translateY(-100%);}

/*material designer menu show right-bottom efeito*/
.ft-menu.right-bottom{padding:0 3px 4px 4px;margin-left:-3px;}
.ft-menu.right-bottom .ft-menu-content{transition:all .3s;transform:translate3d(0,0,0);}
.ft-menu.right-bottom.ng-hide .ft-menu-content{transform:translate3d(100%, -100%, 0);}
